body{
    font-family:'Century Gothiec' Calibri,serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
img{
   width: 10px;
   height: 230px;

}
h1{
   
    font-weight: normal;
    text-align: center;
    background-color: royalblue;
}
header{
    height: 50px;
    background-color:royalblue;
}
footer{
    height: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: royalblue;
    
}
nav{
    width: 80%;
  
}
nav ul{
    margin: 0px;
    padding: 0px;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding:20px 30px;
    color:blue ;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover{
    border-top: 5px solid #4c8 ;
    background-color: rgba(64,200, 130, 0.16);
}
.menu-exp:hover, .Presentation{

    background-color: rgba(241, 211, 79, 0.16);
}
.menu-hob:hover, .Parcours{
    border-top: 5px solid #0070bb;
    background-color:rgba(000, 112, 192, 0.16);
}
.menu-con:hover, .Recommandation{
    border-top: 5px solid #e44d26;
    background-color: rgba(22, 77, 100, 0.16);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.section{
    width: 90%;
   min-height: 300px;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
.sec{
    margin: 0px 10%;
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}
.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear:both;
}
.orange{ border-top: 5px solid royalblue;
    background-color: rgba(228, 77, 128, 0.15);
    margin-bottom: 0px;
}
.rose{ border-top: 5px solid royalblue;
    background-color: rgba(228, 77, 128, 0.15);
    margin-bottom: 0px;
}
.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width:50% ;
    float: left;
    margin-left: 5%;
}
.left img{
    width: 60%;
    max-width: 300px;
}

@media screen and (max-width: 780) {
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
    
    
}